<!DOCTYPE html>
<html>
<head>
  <title>Social Justice Warrior Podcast</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="site-title">
    <%= link_to(( image_tag "sjw_logo.jpg"), root_path, class: "site-logo") %>
  </div>
  <div class="container">
    <nav class="navbar navbar-light bg-primary;">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li class="active" style="font-size: 24px;"></li>
          <li><%= link_to "Social Media", welcome_social_path %></li>
          <li><%= link_to "About", welcome_about_path %></li>
        </ul>
        <div class="nav navbar-nav navbar-right">
          <li><%= link_to "Contact Us", new_message_path %></li>
        </div>
      </div>
    </nav>
    <%= yield %>
  </div>
</body>
</html>
